body { 
    background-color:seashell;
    align-content: center;
    align-items: center;
    align-content: center;
    align: center;
    }

h1 {
    align-content: center;
    align-items: center;
    align-content: center;
}

#gg {   width: auto;
        height: 200px;
        border: 2;
        border-radius: 20;}