<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Detail</title>
</head>
<body>

    <div>
        {% for i in detail_data %}
            {{ i.title }} <br> 
            <img src="{{i.photo.url}}" alt="image" width="100px" height="100px"> <br>
            {{ i.body }} <br>

            <a href="{% url 'deleteblog' i.id %}">Delete</a>

            <hr>
        {% endfor %}
    </div>
    
</body>
</html>